@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    height: 100%;
}

/* Estilos de navegación */
header {
    background-color: #000;
    color: #fff;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

header a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}

.menu-header {
    display: flex;
    gap: 35px;
    align-items: center;
}

.menu-header button {
    border: none;
    background: none;
    outline: none;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

.menu-header button:hover {
    transform: scale(1.05);
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Formulario */
#product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin-bottom: 20px;
}

#product-form label {
    font-weight: bold;
}

#product-form input,
#product-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#product-form button[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#product-form button[type="submit"]:hover {
    background-color: #333;
}

/* Contenedor de productos */
.container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Tarjeta de producto */
.card-product {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-product p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
.container-img {
    height: 150px; /* Altura deseada */
    width: 100%; /* Ancho máximo para que se ajuste al contenedor */
    border-radius: 12px;
    overflow: hidden;
}

.container-img img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Escala la imagen para que cubra todo el contenedor sin distorsionarse */
}

/* Botón de borrar datos */
#clearStorage {
    padding: 10px 20px;
    border: none;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#clearStorage:hover {
    background-color: #d00;
}
